h1{
    color:coral;
}
p{
    color:darkgreen;
}
.titulos{
    color: brown;
}
#segundoparrafo{
    color:indigo
}
.caja{
    border: 5px solid rgb(217, 161, 224);
    margin: 30px;
    padding: 10px;
}
.contenido{
    border: 5px solid rgb(217, 161, 224);
}